.article {
    background-color: white;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.article img.article-image {
    width: 100%;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.book {
    display: inline-block;
    width: 45%;
    margin: 2.5%;
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.books-container {
    text-align: center;
}

.cover {
    margin: 20px;
    text-align: center;
}

.cover img {
    width: 100%;
    max-width: 200px;
    cursor: pointer;
}

.cover-date {
    font-weight: bold;
    margin-bottom: 10px;
}
