.banner {
    background-color: #d3e7f7; /* Light blue */
    text-align: center;
    padding: 10px 0;
}

.logo {
    max-width: 300px;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.menu li {
    display: inline;
    margin: 0 15px;
}

.menu img {
    width: 150px;
}

.footer-banner {
    background-color: #d3e7f7; /* Light blue */
    text-align: center;
    padding: 10px 0;
}

.header-banner {
    background-color: #d3e7f7; /* Light blue */
    text-align: center;
    padding: 5px 0;
}

.header-banner img {
    width: 50%;
}
