.article img {
    max-width: 100%;
    height: auto;
}

.article-title {
    color: #800020; /* Burgundy */
    font-size: 28px; /* Much larger font for headlines */
    font-weight: 700;
}

.article-author, .article p {
    font-size: 18px;
}

.read-more-button {
    display: block;
    margin-top: 10px;
    color: #800020;
    font-weight: bold;
    cursor: pointer;
    text-align: right;
}

.book img {
    max-width: 100%;
    height: auto;
}

.book-title {
    color: #800020; /* Burgundy */
    font-size: 22px;
    font-weight: 700;
}

.book-author, .book p {
    font-size: 16px;
}

.header-banner {
    background-color: #e3f2fd;
    text-align: center;
    padding: 10px 0; /* Minimal padding on top and bottom */
    width: 100%; /* Spanning the width of the visible screen */
    margin-bottom: 20px; /* Space between banner and content */
}

.header-banner img {
    max-width: 50%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.header-banner h2 {
    margin: 0;
    font-style: italic; /* Italic text for 'Top Reads' */
    color: #800020;
}
